/* .img{
    height: 250px;
    width: 16%;
    display: inline-flex;
    position: relative;
    margin-top: 500px;
    }
    
.paa1{
    height: 250px;
    width: 16%;
    display: inline-flex;
    position: relative;
    margin-top: 80px;
}   */
.hiding{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 20px;
}  
h1{
    font-size: 40px;
}
    
    
